body{background-color: whitesmoke;}
#par2{color: darkorange;}
.par1{background-color: antiquewhite;}
.bgp{color: brown;}
/* CSS universal selector

*{text-align: right;}

*/
.par1, .par2, h1{
    text-align: center;
}
/* Combinator selector*/
li a{background-color: coral;}
div + p{background-color: pink;}
div > p{color: orange;}
div ~ p{color: magenta;}
/* attribute selector */
a[href*="mailto"]{
    background-color: aquamarine;
}
/* pseudo class selectors */
.qccLink{
    color: azure;
    background-color: blueviolet;
}
.qccLink:visited{
    background-color: chartreuse;
}
.qccLink:hover{
    background-color: darkgreen;
}
.qccLink:active{
    background-color: red;
}
.hiddenPar{
    color: red;
    background-color: azure;
    display: none;
}
.tooltipDiv:hover .hiddenPar{
    display: block;
}
/* text and font properties */
.subtitle{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.intro, .author{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.author{font-size: 28px; text-shadow: 5px 10px 20px; font-style: italic;}
/* box shadow */
.shadow{
    width: 300px;
    height: 100px;
    text-align: center;
    background-color: aqua;
    box-shadow: 20px 10px 15px orange;
    padding: 1em;
}
.hoverMe{
    background-color: cornflowerblue;
    color: azure;
    box-shadow: 5px 5px 10px gray;
    display: inline-block;
    width: 20%;
    text-align: center;
    border-radius: 15px;
}
.hoverMe:hover{
    box-shadow: none;
}
.card{
    width: 30%;
    box-shadow: 0px 0px 3px 2px gray, 2px 5px 3px black;
    border-radius: 10px;
    overflow: hidden;
}
.imgCard{width: 100%;}
.cardInfo{text-align: center;}
.card:hover{box-shadow: 1px 1px 3px red;}
/* box model properties */
.box{
    background-color: forestgreen;
    border: 10px yellow groove;
    margin: 5em;
    margin-top: 2em;
    padding-left: 3em;
    padding: 2em;
}